importFrom("fmsb", NagelkerkeR2)
importFrom("mice", pool.scalar, pool, as.mira)
importFrom("Hmisc", hdquantile, wtd.quantile, wtd.mean)
importFrom("boot",  boot)
importFrom("car",  recode)
importFrom("reshape2",  melt, dcast, colsplit)
importFrom("plyr",  rbind.fill, alply)
importFrom("combinat", combn)
importFrom("miceadds", micombine.chisquare)
importFrom("tidyr", separate)
importFrom("stats", as.formula, chisq.test, coef, gaussian, glm, median, model.matrix, na.omit, pnorm, pt, qnorm, sd, var, vcov, contrasts)
importFrom("utils", capture.output, flush.console)
importFrom("estimatr", lm_robust)
importFrom("EffectLiteR", effectLite)
importFrom("eatTools", crop, existsBackgroundVariables, facToChar, removePattern, tableUnlist, removeNumeric, removeNonNumeric, desk, contr.wec.weighted)
importFrom("eatGADS", import_DF, extractData)
import(survey)
import(stringr)
import(progress)
import(BIFIEsurvey)
export(jk2.mean)
export(jk2.table)
export(jk2.quantile)
export(jk2.glm)
export(report)



