importFrom("fmsb", NagelkerkeR2)
importFrom("mice", pool.scalar, pool, as.mira)
importFrom("Hmisc", hdquantile, wtd.quantile, wtd.mean, wtd.var)
importFrom("boot",  boot)
importFrom("car",  recode)
importFrom("reshape2",  melt, dcast, colsplit)
importFrom("plyr",  rbind.fill, alply)
importFrom("combinat", combn)
importFrom("miceadds", micombine.chisquare)
importFrom("tidyr", separate)
import(survey)
import(stringr)
import(progress)
export(jk2.mean)
export(jk2.table)
export(jk2.quantile)
export(jk2.glm)
export(existsBackgroundVariables)
export(removePattern)
export(facToChar)
export(crop)
export(tableUnlist)
export(removeNumeric)
export(removeNonNumeric)
export(asNumericIfPossible)
export(report)



