importFrom("stats", "as.formula", "chisq.test", "coef", "gaussian", "lm", "glm", "median", "model.matrix", "na.omit", "pnorm", "pt", "qnorm", "sd", "var", "vcov", "contrasts", "contrasts<-", "weighted.mean", "cov.wt")
importFrom("utils", "str", "capture.output", "flush.console")
import(lavaan)
import(progress)
import(survey)
import(BIFIEsurvey)
export(jk2.mean)
export(jk2.table)
export(jk2.quantile)
export(jk2.glm)
export(repMean)
export(repTable)
export(repQuantile)
export(repGlm)
export(report)
export(generateRandomJk1Zones)
export(funAdjust)
export(funAdjustEL)
export(groupVersusTotalMean)
export(getOutputIfSingular)
export(getOutputIfSingularT1)
export(funadjustLavaanWec)
export(getOutputIfSingularWec)
